#root{
  height:100%;

}
.App {
  background-color: rgb(160, 199, 233);
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white; 
}

.Main-container{
  margin: 0 auto;
  width: 750px;
  height: 500px;
  background: #444753;
  border-radius: 5px;
  margin-top: 55px;
}

.Lobby-container{
  width: 240px;
  float: left;
}

.Chat-container{
  width: 490px;
  height:100%;
  float: right;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

/* .Clearfix{
  overflow-y: auto;
} */
.Clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* .Clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} */