.ChatHistory-container{
    height: 400px;
    margin-right:3px;
    border-bottom: 2px solid white;
    border-top-right-radius: 5px;
    overflow-y: auto;
}
.ChatHistory-container ul {
    list-style: none;   
} 
/* .ChatHistory-container{
    position: relative;
    align-items: center;
    width:100%;
    height: 40px;
    background-color: rgb(201, 164, 235);
} */

/* .ChatHistory-container{
    align-items: center;
    height: 360px;
    width: 600px;
    background-color: rgb(156, 201, 241);
    position: relative;
    overflow-y: auto;
}
*/