.My-message{
    background-color: #94C2ED;
    position: relative;
}
.Others-message{
    background-color: #86BB71; 
}
.Message{
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 60%;
    position: relative;
}
.Align-right{
    text-align: right;
}
.Float-right{
    float: right;
}
.Connection-message{
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 11px;
}
.Message-data{
    
    padding-top:15px;
    margin:0;
}    
.Message-data-name{
    font-weight: 600px;
    
}
.Message-data-time{
    color: #a8aab1;
    padding-left: 6px; 
    /* padding-right: 90px; */
}

.Message-data-edit{
    position: absolute;
    font-size: 11px;
    cursor: pointer;
    right:10px;
    bottom: 0px;
}
.Message-data-delete{
    position: absolute;
    top: 0px;
    right: 10px;
    color:rgb(218, 98, 98);
}

.Message-data-delete:hover{
    color: red;
    cursor: pointer;
}

.Message-data-edited-message{
    font-size: 10px;
    font-style: italic;
    
}
.Message-data-edit:hover{
    text-decoration: underline;
    color: black;
}
