.My-message{
    background-color: #94C2ED; 
}
.Others-message{
    background-color: #86BB71; 
}
.Message{
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 60%;
    position: relative;
}
.Align-right{
    text-align: right;
}
.Float-right{
    float: right;
}
.Connection-message{
    font-style: italic;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Message-data{
    padding-top:15px;
    margin:0;
}    
.Message-data-name{

}
.Message-data-time{
    color: #a8aab1;
    padding-left: 6px; 
}